.s-offer {
  &__body {
    position: relative;
    overflow: hidden;
    padding: 48px 24px;
    border-radius: 20px;
    z-index: 1;

    @include tablet {
      padding: 32px 15px;
    }

    &::before {
      position: absolute;
      content: "";
      inset: 0;
      background: linear-gradient(
        359deg,
        rgba(0, 0, 0, 0.65) 0%,
        rgba(0, 0, 0, 0.65) 100%
      );
      z-index: -1;
    }
  }
  &__inside {
    background-color: var(--white);
    border-radius: 20px;
    padding: 24px;
    width: 920px;
    max-width: 100%;
    margin: 0 auto;
    @include tablet {
      padding: 24px 15px;
    }
  }
  &__title {
    text-align: center;
    margin: 0px auto 16px auto;
    @include laptop-min {
      max-width: 620px;
    }
    @include tablet {
      max-width: 520px;
    }

    span {
      &::before {
        @media (min-width: 576px) {
          width: 275px;
          height: 13px;
          background: url("@img/title-line-275.png") center / 100% auto
            no-repeat;
        }
      }
    }
  }
  &__content {
    max-width: 600px;
    text-align: center;
    margin: 0px auto 28px auto;
  }
  &__nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 24px;
    margin: 0 auto;
    width: 535px;
    max-width: 100%;
    @include tablet-min {
      grid-template-columns: 1fr;
    }
  }
  &__nav-btn {
    max-width: 100%;
    width: 100%;
  }
  &__nav-download {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;

    font-size: 16px;
    line-height: 119%;
    color: rgba(0, 0, 0, 0.65);
    transition: color 0.3s ease;

    @include hover {
      color: var(--primary);
    }
  }
}
