.s-production {
  background-color: var(--gray);
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    @include laptop-min {
      grid-template-columns: 1fr;
    }
  }
  &__gallery {
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      @media (min-width: 1230px) {
        mask: url("@img/production-mask.png");
        mask-repeat: no-repeat;
      }
      @media (max-width: 1229px) {
        border-radius: 20px;
      }
    }
  }
  &__gallery-btn {
    position: absolute;
    top: 15px;
    left: 10px;
  }
  &__body {
    display: flex;
    flex-direction: column;
  }
  &__title {
    margin: 0px 0px 16px 0px;

    span {
      @include tablet-min {
        display: block;
      }
      &::before {
        width: 332px;
        background: url("@img/title-line-332.png") center / 100% auto no-repeat;
        height: 15px;
        bottom: -10px;

        @include tablet-min {
          background: url("@img/title-line.png") center / 100% auto no-repeat;
          width: 100%;
        }
      }
    }
  }
  &__content {
    margin: 0px 0px 30px 0px;
  }
  &__lidosta {
    position: relative;
    margin-top: auto;
    border-radius: 12px;
    padding: 24px;
    min-height: 215px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    z-index: 1;
    @include tablet-min {
      padding: 20px 16px;
      &::after {
        position: absolute;
        content: "";
        background-color: white;
        inset: 0;
        opacity: 0.5;
        z-index: -1;
      }
    }

    &::before {
      position: absolute;
      content: "";
      inset: 0;
      background: linear-gradient(
        185deg,
        rgba(255, 255, 255, 0) 18.31%,
        rgba(255, 255, 255, 0.75) 100%
      );
      z-index: -1;
    }
  }
  &__lidosta-container {
  }
  &__lidosta-title {
    font-weight: 500;
    font-size: 21px;
    line-height: 133%;
    margin: 0px 0px 4px 0px;
    @include tablet {
      font-size: 18px;
    }
  }
  &__lidosta-content {
    font-size: 15px;
    color: rgba(40, 41, 42, 0.85);
    margin: 0;
  }
}
