.body-hidden {
  overflow: hidden;
  touch-action: none;
}
.body {
}

.sect-m {
  margin: 50px 0px;
}
.sect-p {
  padding: 50px 0px;
}

.content {
  font-size: 18px;
  line-height: 133%;
  color: rgba(40, 41, 42, 0.85);

  @include tablet {
    font-size: 16px;
  }

  p {
    margin: 0;
    &:not(:last-child) {
      margin-bottom: 18px;
    }
  }
  ul {
    margin: 0;
    padding-left: 25px;
    &:not(:last-child) {
      margin-bottom: 18px;
    }
  }
  h2 {
    font-family: "Mulish", sans-serif;
    font-size: 32px;
    line-height: 125%;

    margin: 0;
    &:not(:last-child) {
      margin-bottom: 18px;
    }

    @include tablet {
      font-size: 28px;
    }
    @include tablet-min {
      font-size: 24px;
    }
  }
}
.content-big {
  font-size: 21px;
  color: rgba(40, 41, 42, 0.85);

  @include tablet {
    font-size: 18px;
  }

  p {
    margin: 0;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
._mulish {
  font-family: "Mulish", sans-serif;
}

.rect {
  position: absolute;
  display: block;
  height: auto;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;

  @include laptop-middle {
    display: none;
  }
}

.bg-gray {
  background-color: var(--gray);
}