<footer class="footer">
	<div class="container">
		<div class="footer__main">
			<a href="/" class="footer__logo">
				<img src="@img/logo-white.svg" alt="logo">
			</a>
			<ul class="list footer__list">
				<li><a href="#">О компании</a></li>
				<li><a href="#">Производство</a></li>
				<li><a href="#">Портфолио</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>
		</div>
		<div class="footer__nav">
			<div class="footer__nav-item">
				<h5 class="footer__nav-title">Породы</h5>
				<ul class="list footer__nav-list">
					<li><a href="#">Мрамор</a></li>
					<li><a href="#">Гранит</a></li>
					<li><a href="#">Кварцит</a></li>
					<li><a href="#">Сланец</a></li>
					<li><a href="#">Оникс</a></li>
					<li><a href="#">Травертин</a></li>
				</ul>
			</div>
			<div class="footer__nav-item">
				<h5 class="footer__nav-title">Изделия</h5>
				<ul class="list footer__nav-list">
					<li><a href="#">Слэбы</a></li>
					<li><a href="#">Плитка</a></li>
					<li><a href="#">Панели</a></li>
					<li><a href="#">Ступени</a></li>
					<li><a href="#">Столешницы</a></li>
					<li><a href="#">Брусчатка</a></li>
					<li><a href="#">Бордюр</a></li>
					<li><a href="#">Столы</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>

<script src="./files/fancybox/fancybox.min.js"></script>
<script src="./files/inputmask/inputmask.min.js"></script>
<script src="./files/swiper/swiper.min.js"></script>