<section class="hero sect-m">
  <div class="container">
    <div class="breadcrumbs">
      <a href="/">Главная</a>
      <a href="/">Изделия</a>
      <span>Колонны</span>
    </div>
    <div itemscope class="hero__wrapper">
      <div class="hero__gallery">
        <div itemprop="gallery" class="swiper hero__slider">
          <div class="hero__slider-arrow _prev">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-line-prev"></use>
            </svg>
          </div>
          <div class="hero__slider-arrow _next">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-line-next"></use>
            </svg>
          </div>
          <div class="swiper-wrapper">
            <a
              href="@img/hero-columns.jpg"
              data-fancybox="hero-gallery"
              class="swiper-slide hero__slide"
            >
              <img itemprop="image" src="@img/hero-columns.jpg" alt="image" />
            </a>
            <a
              href="@img/hero-columns.jpg"
              data-fancybox="hero-gallery"
              class="swiper-slide hero__slide"
            >
              <img itemprop="image" src="@img/hero-columns.jpg" alt="image" />
            </a>
            <a
              href="@img/hero-columns.jpg"
              data-fancybox="hero-gallery"
              class="swiper-slide hero__slide"
            >
              <img itemprop="image" src="@img/hero-columns.jpg" alt="image" />
            </a>
            <a
              href="@img/hero-columns.jpg"
              data-fancybox="hero-gallery"
              class="swiper-slide hero__slide"
            >
              <img itemprop="image" src="@img/hero-columns.jpg" alt="image" />
            </a>
          </div>
        </div>
        <div class="swiper hero__thumb-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide hero__thumb-slide">
              <img src="@img/hero-columns.jpg" alt="image" />
            </div>
            <div class="swiper-slide hero__thumb-slide">
              <img src="@img/hero-columns.jpg" alt="image" />
            </div>
            <div class="swiper-slide hero__thumb-slide">
              <img src="@img/hero-columns.jpg" alt="image" />
            </div>
            <div class="swiper-slide hero__thumb-slide">
              <img src="@img/hero-columns.jpg" alt="image" />
            </div>
          </div>
        </div>
      </div>
      <div class="hero__info">
        <h1 itemprop="title" class="s-title hero__title">Каменные колонны</h1>
        <div itemprop="description" class="content hero__content">
          <p>
            Архитектурные колонны премиального качества из гранита, мрамора и
            других природных материалов. Наши каменные изделия — безупречное
            решение для тех, кто ценит внимание к деталям и стремится
            подчеркнуть престиж объекта
          </p>
        </div>
        <div itemprop="price" class="hero__price">Цена: По запросу</div>
        <p itemprop="price description" class="hero__price-descr">
          *Цены могут корректироваться в зависимости от месторождения камня,
          объёма и срока поставки, наличия на складе, сезонности.
        </p>
        <div class="hero__nav">
          <a href="#modal-order" data-fancybox class="btn-s hero__nav-btn">
            Оформить заказ
          </a>
          <a href="#" target="_blank" class="hero__social-btn _blue">
            <span>
              Написать
              <br />
              в Telegram
            </span>
            <img src="@img/tg.svg" alt="icon" />
          </a>
          <a href="#" target="_blank" class="hero__social-btn _green">
            <span>
              Написать
              <br />
              в WhatsApp
            </span>
            <img src="@img/wh.svg" alt="icon" />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
