<section class="intro sect-p">
  <div class="container">
    <div class="intro__wrapper">
      <div
        class="intro__gallery"
        style="
          background: url(&quot;@img/intro.jpg&quot;) center / cover no-repeat;
        "
      >
        <div class="intro__gallery-container">
          <h1 class="m-title intro__gallery-title">
            Натуральный и искусственный камень оптом от производителя
          </h1>
          <p class="intro__gallery-content">
            Крупный выбор мрамора, гранита, травертина и других пород —
            в наличии и под заказ, прямые поставки из Китая, полное
            сопровождение на каждом этапе — от заявки до доставки на объект
          </p>
        </div>
      </div>
      <div class="intro__adv">
        <div class="intro__adv-item">
          <div class="intro__adv-num">30+</div>
          <div class="intro__adv-content">лет опыта</div>
        </div>
        <div class="intro__adv-item">
          <div class="intro__adv-num">537</div>
          <div class="intro__adv-content">реализованных проектов</div>
        </div>
        <div class="intro__adv-item">
          <div class="intro__adv-num">
            5 418 211 м
            <small>в год</small>
          </div>
          <div class="intro__adv-content">производственных мощностей</div>
        </div>
        <div class="intro__adv-item">
          <div class="intro__adv-num">12</div>
          <div class="intro__adv-content">заводов</div>
        </div>
        <div class="intro__adv-item">
          <div class="intro__adv-num">2 134 789</div>
          <div class="intro__adv-content">
            слэбов натурального камня в коллекции
          </div>
        </div>
      </div>
    </div>
    <div class="intro__grid">
      <div class="intro__item">
        <h5 class="intro__title">Экспресс расчёт проекта</h5>
        <p class="intro__item-content">
          Отправьте ваше ТЗ, наши специалисты проведут расчёт и предоставят
          КП в этот же день
        </p>
        <a href="#modal-get" data-fancybox class="btn-s intro__item-btn">
          Получить КП
        </a>
      </div>
      <div class="intro__item">
        <h5 class="intro__title">
          Специальные условия для оптовых покупателей
        </h5>
        <p class="intro__item-content">
          Свяжитесь с нами в Telegram или WhatsApp. Ответим в течение 5 минут!
        </p>
        <div class="intro__social">
          <a href="#" target="_blank" class="intro__social-btn _tg">
            <span>Написать в Telegram</span>
            <img src="@img/tg.svg" alt="icon" />
          </a>
          <a href="#" target="_blank" class="intro__social-btn _wh">
            <span>Написать в WhatsApp</span>
            <img src="@img/wh.svg" alt="icon" />
          </a>
        </div>
      </div>
      <div class="intro__item">
        <h5 class="intro__title">Скачать прайс-лист со складскими остатками</h5>
        <p class="intro__item-content">
          Вышлем актуальные цены на изделия в наличии. Отгрузка в день оплаты!
        </p>
        <a href="@img/intro.jpg" download class="btn-s _outline intro__item-btn">
          Скачать прайс
        </a>
      </div>
    </div>
  </div>
</section>
