<section class="s-adv sect-m">
  <div class="container">
    <div class="s-adv__wrapper">
      <div itemscope class="s-adv__content">
        <div itemprop="content" class="s-adv__content-item">
          <h3 itemprop="title" class="s-title s-adv__title">Наш девиз</h3>
          <div itemprop="descr" class="content-big s-adv__slogan">
            Годами создаем проекты, которыми можно гордиться
          </div>
        </div>
        <div itemprop="content" class="s-adv__content-item">
          <h3 itemprop="title" class="s-title s-adv__title">Цель компании</h3>
          <div class="content-big">
            <p>
              Создавать прочную основу для современных пространств. Мы
              стремимся, чтобы каждый наш клиент решал сразу комплекс вопросов:
              от подбора камня до логистики, от чертежа до монтажа
            </p>
          </div>
        </div>
        <div itemprop="content" class="s-adv__content-item">
          <h3 itemprop="title" class="s-title s-adv__title">Миссия</h3>
          <div class="content-big">
            <p>
              Мы делаем архитектуру устойчивой, инфраструктуру — надежной,
              города — выразительными. Наша миссия — помогать строить
              пространство, в котором хочется жить, работать и развиваться. Мы
              верим, что натуральный камень — это часть культуры, эстетики и
              комфорта
            </p>
          </div>
        </div>
      </div>
      <div class="s-adv__body">
        <div class="s-adv__list">
          <div itemscope class="s-adv__list-item">
            <div itemprop="value" class="s-adv__list-num">30+</div>
            <div itemprop="title" class="s-adv__list-content">лет опыта</div>
          </div>
          <div itemscope class="s-adv__list-item">
            <div itemprop="value" class="s-adv__list-num">537</div>
            <div itemprop="title" class="s-adv__list-content">
              реализованных проектов
            </div>
          </div>
          <div itemscope class="s-adv__list-item">
            <div itemprop="value" class="s-adv__list-num">
              5 418 211 м в год
            </div>
            <div itemprop="title" class="s-adv__list-content">
              производственных мощностей
            </div>
          </div>
          <div itemscope class="s-adv__list-item">
            <div itemprop="value" class="s-adv__list-num">12</div>
            <div itemprop="title" class="s-adv__list-content">заводов</div>
          </div>
          <div itemscope class="s-adv__list-item">
            <div itemprop="value" class="s-adv__list-num">2 134 789</div>
            <div itemprop="title" class="s-adv__list-content">
              слэбов натурального камня в коллекции
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
