<section class="sect-p s-content">
  <div class="container">
    <h2 class="s-title s-content__title">О компании</h2>
    <div class="content _mulish s-content__content">
      <p>
        Компания Grosstoun — производитель натурального камня с добычей в
        собственных карьерах, а также производитель искусственного камня с
        развитой промышленной базой: 12 высокотехнологичных заводов позволяют
        выпускать продукцию в больших объёмах, с точным соблюдением стандартов и
        сроков. Также мы входим в топ крупнейших поставщиков искусственного
        камня и натурального. Наша модель работы исключает посредников — вы
        получаете камень оптом от производителя, по выгодным ценам и с гарантией
        качества. Мы сопровождаем клиентов на всех этапах: от подбора и
        согласования условий до доставки, таможенного оформления и после
        продажной поддержки
      </p>
      <p>У нас можно приобрести:</p>
      <ul>
        <li>Крупноформатные натуральные камни оптом</li>
        <li>Облицовочные искусственные камни оптом</li>
        <li>Каменные блоки для строительства</li>
        <li>Каменные изделия для благоустройства территорий</li>
        <li>Декоративный камень для отделки интерьера и тд.</li>
      </ul>
      <h2>
        Также вы можете заказать камень под ваш проект — по чертежам, с подбором
        цвета, размера и текстуры
      </h2>
      <p>
        Мы предоставляем весь необходимый комплект документов: инвойсы,
        упаковочные листы, сертификаты соответствия и происхождения, работаем
        строго по договору и всегда соблюдаем сроки. Нашими клиентами становятся
        застройщики, девелоперы, архитектурные бюро, строительные и
        производственные компании, которым необходим камень для фасада,
        ландшафта, внутренней отделки или монументальных конструкций
      </p>
      <p>
        Если вы ищете надёжного поставщика камня, способного обеспечить
        стабильные объёмы, чёткую логистику и прозрачные условия сотрудничества,
        Grosstoun — ваш выбор. Мы подберём материалы под задачи любого масштаба:
        от частного дома до многофункционального комплекса. Для тех, кто хочет
        купить натуральный камень из Китая или заказать искусственный камень под
        заказ — у нас есть решение. Предоставим образцы, подберём аналоги и
        организуем отгрузку
      </p>
      <ul>
        <li>Крупноформатные натуральные камни оптом</li>
        <li>Облицовочные искусственные камни оптом</li>
        <li>Каменные блоки для строительства</li>
        <li>Каменные изделия для благоустройства территорий</li>
        <li>Декоративный камень для отделки интерьера и тд.</li>
      </ul>
      <p>
        Мы предоставляем весь необходимый комплект документов: инвойсы,
        упаковочные листы, сертификаты соответствия и происхождения, работаем
        строго по договору и всегда соблюдаем сроки. Нашими клиентами становятся
        застройщики, девелоперы, архитектурные бюро, строительные и
        производственные компании, которым необходим камень для фасада,
        ландшафта, внутренней отделки или монументальных конструкций
      </p>
      <p>
        Если вы ищете надёжного поставщика камня, способного обеспечить
        стабильные объёмы, чёткую логистику и прозрачные условия сотрудничества,
        Grosstoun — ваш выбор. Мы подберём материалы под задачи любого масштаба:
        от частного дома до многофункционального комплекса. Для тех, кто хочет
        купить натуральный камень из Китая или заказать искусственный камень под
        заказ — у нас есть решение. Предоставим образцы, подберём аналоги и
        организуем отгрузку
      </p>
    </div>
    <div class="btn-s _gray s-content__btn-more">
      <span>Читать полностью</span>
      <svg>
        <use xlink:href="img/icons/icons.svg#icon-arrow-rect"></use>
      </svg>
    </div>
  </div>
</section>
