<section class="s-consult sect-m">
  <div class="container">
    <div
      class="s-consult__body"
      style="
        background: url(&quot;@img/consult.jpg&quot;) center / cover no-repeat;
      "
    >
      <div class="s-consult__head">
        <h2 class="s-title s-consult__title">
          Нужна помощь эксперта? Есть вопросы?
        </h2>
        <p class="s-consult__content">
          Оставьте ваши контакты — специалист поможет выбрать подходящий камень,
          сориентирует по срокам, стоимости и подберёт оптимальное решение
          под ваш проект
        </p>
      </div>
      <div class="s-consult__form-wrapper">
        <form action="#" class="s-consult__form">
          <div class="input-control _icon">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-tel"></use>
            </svg>
            <input type="tel" placeholder="Ваш телефон" class="input" />
          </div>
          <button class="btn-s s-consult__form-btn">
            Получить консультацию
          </button>
        </form>
        <p class="s-consult__form-policy">
          *Нажимая на кнопку, вы даёте своё согласие на обработку
          <a href="#" target="_blank">Персональных данных</a>
          и принимаете 
          <a href="#" target="_blank">Условия соглашения</a>
        </p>
      </div>
    </div>
  </div>
</section>
