<section class="s-contacts sect-m">
  <div class="container">
    <div class="breadcrumbs">
      <a href="/">Главная</a>
      <span>Контакты</span>
    </div>
    <h2 class="s-title s-contacts__title">Контактная информация</h2>
    <div class="s-contacts__wrapper">
      <div class="s-contacts__info">
        <div itemscope class="s-contacts__item">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-location"></use>
          </svg>
          <div class="s-contacts__item-body">
            <h5 itemprop="title" class="s-contacts__item-title">
              Головной офис
            </h5>
            <div itemprop="content" class="s-contacts__item-content">
              г. Сямынь (Шуйтоу), провинция Фуцзянь, Китай
            </div>
          </div>
        </div>
        <div itemscope class="s-contacts__item">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-tel"></use>
          </svg>
          <div class="s-contacts__item-body">
            <h5 itemprop="title" class="s-contacts__item-title">Телефон</h5>
            <a
              href="tel:+79137271088"
              itemprop="telephone"
              class="s-contacts__item-content"
            >
              +7 (913) 727-10-88
            </a>
          </div>
        </div>
        <div itemscope class="s-contacts__item">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-clock"></use>
          </svg>
          <div class="s-contacts__item-body">
            <h5 itemprop="title" class="s-contacts__item-title">
              График работы
            </h5>
            <div itemprop="content" class="s-contacts__item-content">
              Принимаем заявки в любое время 24/7
            </div>
          </div>
        </div>
        <div itemscope class="s-contacts__item">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-mail"></use>
          </svg>
          <div class="s-contacts__item-body">
            <h5 itemprop="title" class="s-contacts__item-title">
              Электронная почта
            </h5>
            <a
              href="mailto:grosstoun@yandex.ru"
              itemprop="telephone"
              class="s-contacts__item-content"
            >
              grosstoun@yandex.ru
            </a>
          </div>
        </div>
      </div>
      <div
        class="s-contacts__map"
        data-center="
[54.61696443387718,39.74825728329468]
"
        data-zoom="17"
        id="map"
      ></div>
    </div>
  </div>
</section>
