<section class="s-decision sect-m">
  <div class="container">
    <div
      class="s-decision__body"
      style="
        background: url(&quot;@img/decision-bg.jpg&quot;) center / cover
          no-repeat;
      "
    >
      <h2 class="s-title s-decision__title">
        Фасады из гранита — профессиональное решение для вашего здания
      </h2>
      <div class="s-decision__inside">
        <p class="content s-decision__content">
          Мы проектируем, изготавливаем и монтируем фасады из натурального
          гранита под ключ. Такое решение для облицовки зданий не только придаёт
          объекту престижный внешний вид, но и обеспечивает надежную защиту от
          погодных воздействий и долговечность
        </p>
        <p class="s-decision__bottom-content">
          Оставьте заявку на консультацию, и мы подберём оптимальное решение для
          вашего фасада!
        </p>
        <a href="#modal-get" data-fancybox class="btn-s s-decision__btn">
          Заказать консультацию
        </a>
      </div>
    </div>
  </div>
</section>
