<section
  class="s-details sect-p"
  style="
    background: url(&quot;@img/production-bg.png&quot;) bottom 0 left 0 / 100%
      auto no-repeat;
  "
>
  <div class="container">
    <h2 class="s-title s-details__title">
      Производство в
      <span>деталях</span>
    </h2>
    <div class="s-details__wrapper">
      <div class="s-details__item">
        <a
          href="//github.com/mediaelement/mediaelement-files/blob/master/big_buck_bunny.mp4?raw=true"
          data-fancybox
          class="s-details__gallery"
        >
          <img src="@img/details-1.jpg" alt="image" />
          <div class="s-details__item-play"></div>
        </a>
        <p class="content s-details__item-content">
          Благодаря собственной производственной базе мы не зависим от сторонних
          подрядчиков, а значит — соблюдаем сроки, оперативно реагируем на
          заказы и обеспечиваем высокий уровень исполнения даже в индивидуальных
          проектах.
        </p>
      </div>
      <div class="s-details__item">
        <p class="content s-details__item-content">
          Все этапы производства — от первичной обработки до финальной
          подготовки — мы выполняем самостоятельно. Распил камня, его тщательная
          шлифовка, аккуратное лощение поверхности, а также бережная упаковка и
          точная маркировка каждой единицы продукции проходят исключительно на
          наших собственных мощностях.
        </p>
        <div class="s-details__gallery">
          <img src="@img/details-2.jpg" alt="image" />
        </div>
      </div>
      <img src="@img/left-rect-2.png" alt="image" class="rect">
    </div>
  </div>
</section>
