<section class="sect-m s-estimation">
  <div class="container">
    <div class="s-estimation__grid">
      <div class="s-estimation__item">
        <h2 class="s-title s-estimation__title">
          Составим смету для вашего проекта прямо
          <span>сейчас!</span>
        </h2>
        <p class="s-estimation__content">
          Отправьте техническое задание — мы рассчитаем стоимость с учётом ваших
          требований и параметров проекта
        </p>
        <div class="s-estimation__item-gallery">
          <img src="@img/estimation-1.jpg" alt="image">
        </div>
      </div>
      <div class="s-estimation__item">
        <div class="s-estimation__item-gallery">
          <img src="@img/estimation-2.jpg" alt="image">
        </div>
        <div class="s-estimation__item-nav">
          <a href="#modal-get" data-fancybox class="btn-s s-estimation__btn">Получить смету</a>
          <a href="@img/about-bg.png" download class="s-estimation__file-btn">
            <img src="@img/icon-pdf.svg" alt="icon">
            <span>Получите подробную смету в PDF</span>
          </a>
        </div>
      </div>
      <img src="@img/right-rect.png" alt="image" class="s-estimation__bg">
    </div>
  </div>
</section>
