<section class="s-get sect-m">
  <div class="container">
    <div class="s-get__body">
      <div itemscope class="s-get__info">
        <h2 itemprop="title" class="s-title s-get__title">
          Получите персональное
          <span>КП</span>
          под ваш проект
        </h2>
        <h3 itemprop="subtitle" class="s-get__subtitle">
          В предложении вы получите:
        </h3>
        <ul itemprop="list" class="list s-get__list">
          <li>
            подбор подходящих видов натурального и/или искусственного камня
          </li>
          <li>смету для вашего проекта</li>
          <li>сроки поставки и логистики</li>
          <li>условия оплаты, упаковки и доставки</li>
          <li>
            полное описание материалов с фото, характеристиками и объёмами
          </li>
        </ul>
        <p class="s-get__content">
          Работаем как с готовыми чертежами, так и с первичным техническим
          заданием
        </p>
      </div>
      <div class="s-get__form-wrapper">
        
      </div>
    </div>
  </div>
</section>
