<section class="sect-p s-production">
  <div class="container">
    <div itemscope class="s-production__wrapper">
      <div class="s-production__gallery">
        <a href="#" class="btn-circle s-production__gallery-btn">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-line-next"></use>
          </svg>
        </a>
        <img itemprop="image" src="@img/production-image.jpg" alt="image" />
      </div>
      <div class="s-production__body">
        <h2 itemprop="title" class="s-title s-production__title">
          Производим и поставляем камень под проекты любой
          <span>сложности</span>
        </h2>
        <div itemprop="content" class="content-big s-production__content">
          Надёжные оптовые поставки натурального и композитного камня напрямую
          от производителя — от жилых комплексов и коммерческой отделки
          до госзаказов
        </div>
        <div
          style="
            background: url(&quot;@img/production-lidosta.jpg&quot;) 0 0 / cover
              no-repeat;
          "
          class="s-production__lidosta"
        >
          <div class="s-production__lidosta-container">
            <h5 class="s-production__lidosta-title _mulish">
              Международный аэропорт Ухань Тяньхэ
            </h5>
            <p class="s-production__lidosta-content">
              Производство и поставка фасадных каменных панелей
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
