<section class="s-spec sect-p bg-gray">
  <div class="container">
    <div itemscope class="s-spec__grid">
      <div itemprop="specification" class="s-spec__item">
        <img
          itemprop="specification icon"
          src="@img/pallete.svg"
          alt="icon"
          class="s-spec__item-icon"
        />
        <div class="s-spec__item-body">
          <div itemprop="specification title" class="s-spec__item-title">
            Цвет:
          </div>
          <div itemprop="specfication value" class="s-spec__item-value">
            Чёрный
          </div>
        </div>
      </div>
      <div itemprop="specification" class="s-spec__item">
        <img
          itemprop="specification icon"
          src="@img/structure.svg"
          alt="icon"
          class="s-spec__item-icon"
        />
        <div class="s-spec__item-body">
          <div itemprop="specification title" class="s-spec__item-title">
            Структура зерна:
          </div>
          <div itemprop="specfication value" class="s-spec__item-value">
            Cреднезернистая
          </div>
        </div>
      </div>
      <div itemprop="specification" class="s-spec__item">
        <img
          itemprop="specification icon"
          src="@img/location.svg"
          alt="icon"
          class="s-spec__item-icon"
        />
        <div class="s-spec__item-body">
          <div itemprop="specification title" class="s-spec__item-title">
            Страна:
          </div>
          <div itemprop="specfication value" class="s-spec__item-value">
            Иран
          </div>
        </div>
      </div>
      <div itemprop="specification" class="s-spec__item">
        <img
          itemprop="specification icon"
          src="@img/absorption.svg"
          alt="icon"
          class="s-spec__item-icon"
        />
        <div class="s-spec__item-body">
          <div itemprop="specification title" class="s-spec__item-title">
            Водопоглащение:
          </div>
          <div itemprop="specfication value" class="s-spec__item-value">
            0,37 %
          </div>
        </div>
      </div>
      <div itemprop="specification" class="s-spec__item">
        <img
          itemprop="specification icon"
          src="@img/cold.svg"
          alt="icon"
          class="s-spec__item-icon"
        />
        <div class="s-spec__item-body">
          <div itemprop="specification title" class="s-spec__item-title">
            Морозостойкость:
          </div>
          <div itemprop="specfication value" class="s-spec__item-value">
            0,37 %
          </div>
        </div>
      </div>
      <div itemprop="specification" class="s-spec__item">
        <img
          itemprop="specification icon"
          src="@img/radioactivity.svg"
          alt="icon"
          class="s-spec__item-icon"
        />
        <div class="s-spec__item-body">
          <div itemprop="specification title" class="s-spec__item-title">
            Радиоактивность:
          </div>
          <div itemprop="specfication value" class="s-spec__item-value">
            1 класс
          </div>
        </div>
      </div>
      <div itemprop="specification" class="s-spec__item">
        <img
          itemprop="specification icon"
          src="@img/strong.svg"
          alt="icon"
          class="s-spec__item-icon"
        />
        <div class="s-spec__item-body">
          <div itemprop="specification title" class="s-spec__item-title">
            Предел прочности:
          </div>
          <div itemprop="specfication value" class="s-spec__item-value">
            146 МПа
          </div>
        </div>
      </div>
      <div itemprop="specification" class="s-spec__item">
        <img
          itemprop="specification icon"
          src="@img/weight.svg"
          alt="icon"
          class="s-spec__item-icon"
        />
        <div class="s-spec__item-body">
          <div itemprop="specification title" class="s-spec__item-title">
            Объёмный вес:
          </div>
          <div itemprop="specfication value" class="s-spec__item-value">
            2600 кг/м3
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
