<section class="s-steps sect-p">
  <div class="container">
    <h2 class="s-title s-steps__title">
      <span>Путь</span>
      от первого запроса до получения камня на объекте
    </h2>
    <div class="s-steps__nav">
      <div class="s-steps__nav-btn _active">
        <div class="s-steps__nav-circle">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-line-next"></use>
          </svg>
        </div>
        <div class="s-steps__nav-btn-flex">
          <div class="s-steps__nav-num">01</div>
          <div class="s-steps__nav-content">
            Обсуждение проекта и технического задания
          </div>
        </div>
      </div>
      <div class="s-steps__nav-btn">
        <div class="s-steps__nav-circle">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-line-next"></use>
          </svg>
        </div>
        <div class="s-steps__nav-btn-flex">
          <div class="s-steps__nav-num">02</div>
          <div class="s-steps__nav-content">
            Подбор материала и предварительный расчёт
          </div>
        </div>
      </div>
      <div class="s-steps__nav-btn">
        <div class="s-steps__nav-circle">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-line-next"></use>
          </svg>
        </div>
        <div class="s-steps__nav-btn-flex">
          <div class="s-steps__nav-num">03</div>
          <div class="s-steps__nav-content">
            Подтверждение и оформление заказа
          </div>
        </div>
      </div>
      <div class="s-steps__nav-btn">
        <div class="s-steps__nav-circle">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-line-next"></use>
          </svg>
        </div>
        <div class="s-steps__nav-btn-flex">
          <div class="s-steps__nav-num">04</div>
          <div class="s-steps__nav-content">
            Производство и контроль качества
          </div>
        </div>
      </div>
      <div class="s-steps__nav-btn _last">
        <div class="s-steps__nav-circle">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-circle-check"></use>
          </svg>
        </div>
        <div class="s-steps__nav-btn-flex">
          <div class="s-steps__nav-num">05</div>
          <div class="s-steps__nav-content">
            Доставка, оформление и сопровождение
          </div>
        </div>
      </div>
    </div>
    <div class="swiper s-steps__slider">
      <div class="swiper-wrapper">
        <div itemscope class="swiper-slide s-steps__slide">
          <div class="s-steps__slide-gallery">
            <a href="#" class="s-steps__slide-wrapper-img">
              <img itemprop="image" src="@img/steps.jpg" alt="image" />
            </a>
            <h5 itemprop="title" class="s-steps__slide-title">
              01. Обсуждение проекта и технического задания
            </h5>
            <a href="#" class="s-steps__circle-btn">
              <svg>
                <use
                  xlink:href="img/icons/icons.svg#icon-arrow-line-next"
                ></use>
              </svg>
            </a>
            <button class="btn-s s-steps__btn-next">Следующий этап</button>
          </div>
          <div class="s-steps__info">
            <ul itemprop="list-content" class="list s-steps__info-list">
              <li class="s-steps__info-item">
                <div>
                  <img src="@img/steps-icon.svg" alt="icon" />
                </div>
                <span>Получаем первичное обращение и запрос от клиента</span>
              </li>
              <li class="s-steps__info-item">
                <div>
                  <img src="@img/steps-icon.svg" alt="icon" />
                </div>
                <span>
                  Уточняем задачи проекта, специфику объекта, формат поставки
                  (блоки, плиты, изделия)
                </span>
              </li>
              <li class="s-steps__info-item">
                <div>
                  <img src="@img/steps-icon.svg" alt="icon" />
                </div>
                <span>
                  Определяем материал, место доставки, ориентировочные сроки
                </span>
              </li>
              <li class="s-steps__info-item">
                <div>
                  <img src="@img/steps-icon.svg" alt="icon" />
                </div>
                <span>Запрашиваем чертежи, техническое задание</span>
              </li>
              <li class="s-steps__info-item">
                <div>
                  <img src="@img/steps-icon.svg" alt="icon" />
                </div>
                <span>Фиксируем бюджет и дополнительные условия</span>
              </li>
            </ul>
          </div>
        </div>
        <div itemscope class="swiper-slide s-steps__slide">
          <div class="s-steps__slide-gallery">
            <a href="#" class="s-steps__slide-wrapper-img">
              <img itemprop="image" src="@img/steps.jpg" alt="image" />
            </a>
            <h5 itemprop="title" class="s-steps__slide-title">
              02. Подбор материала и предварительный расчёт
            </h5>
            <a href="#" class="s-steps__circle-btn">
              <svg>
                <use
                  xlink:href="img/icons/icons.svg#icon-arrow-line-next"
                ></use>
              </svg>
            </a>
            <button class="btn-s s-steps__btn-next">Следующий этап</button>
          </div>
          <div class="s-steps__info">
            <ul itemprop="list-content" class="list s-steps__info-list">
              <li class="s-steps__info-item">
                <div>
                  <img src="@img/steps-icon.svg" alt="icon" />
                </div>
                <span>Получаем первичное обращение и запрос от клиента</span>
              </li>
              <li class="s-steps__info-item">
                <div>
                  <img src="@img/steps-icon.svg" alt="icon" />
                </div>
                <span>
                  Уточняем задачи проекта, специфику объекта, формат поставки
                  (блоки, плиты, изделия)
                </span>
              </li>
              <li class="s-steps__info-item">
                <div>
                  <img src="@img/steps-icon.svg" alt="icon" />
                </div>
                <span>
                  Определяем материал, место доставки, ориентировочные сроки
                </span>
              </li>
              <li class="s-steps__info-item">
                <div>
                  <img src="@img/steps-icon.svg" alt="icon" />
                </div>
                <span>Запрашиваем чертежи, техническое задание</span>
              </li>
              <li class="s-steps__info-item">
                <div>
                  <img src="@img/steps-icon.svg" alt="icon" />
                </div>
                <span>Фиксируем бюджет и дополнительные условия</span>
              </li>
            </ul>
          </div>
        </div>
        <div itemscope class="swiper-slide s-steps__slide">
          <div class="s-steps__slide-gallery">
            <a href="#" class="s-steps__slide-wrapper-img">
              <img itemprop="image" src="@img/steps.jpg" alt="image" />
            </a>
            <h5 itemprop="title" class="s-steps__slide-title">
              03. Подтверждение и оформление заказа
            </h5>
            <a href="#" class="s-steps__circle-btn">
              <svg>
                <use
                  xlink:href="img/icons/icons.svg#icon-arrow-line-next"
                ></use>
              </svg>
            </a>
            <button class="btn-s s-steps__btn-next">Следующий этап</button>
          </div>
          <div class="s-steps__info">
            <ul itemprop="list-content" class="list s-steps__info-list">
              <li class="s-steps__info-item">
                <div>
                  <img src="@img/steps-icon.svg" alt="icon" />
                </div>
                <span>Получаем первичное обращение и запрос от клиента</span>
              </li>
              <li class="s-steps__info-item">
                <div>
                  <img src="@img/steps-icon.svg" alt="icon" />
                </div>
                <span>
                  Уточняем задачи проекта, специфику объекта, формат поставки
                  (блоки, плиты, изделия)
                </span>
              </li>
              <li class="s-steps__info-item">
                <div>
                  <img src="@img/steps-icon.svg" alt="icon" />
                </div>
                <span>
                  Определяем материал, место доставки, ориентировочные сроки
                </span>
              </li>
              <li class="s-steps__info-item">
                <div>
                  <img src="@img/steps-icon.svg" alt="icon" />
                </div>
                <span>Запрашиваем чертежи, техническое задание</span>
              </li>
              <li class="s-steps__info-item">
                <div>
                  <img src="@img/steps-icon.svg" alt="icon" />
                </div>
                <span>Фиксируем бюджет и дополнительные условия</span>
              </li>
            </ul>
          </div>
        </div>
        <div itemscope class="swiper-slide s-steps__slide">
          <div class="s-steps__slide-gallery">
            <a href="#" class="s-steps__slide-wrapper-img">
              <img itemprop="image" src="@img/steps.jpg" alt="image" />
            </a>
            <h5 itemprop="title" class="s-steps__slide-title">
              04. Производство и контроль качества
            </h5>
            <a href="#" class="s-steps__circle-btn">
              <svg>
                <use
                  xlink:href="img/icons/icons.svg#icon-arrow-line-next"
                ></use>
              </svg>
            </a>
            <button class="btn-s s-steps__btn-next">Следующий этап</button>
          </div>
          <div class="s-steps__info">
            <ul itemprop="list-content" class="list s-steps__info-list">
              <li class="s-steps__info-item">
                <div>
                  <img src="@img/steps-icon.svg" alt="icon" />
                </div>
                <span>Получаем первичное обращение и запрос от клиента</span>
              </li>
              <li class="s-steps__info-item">
                <div>
                  <img src="@img/steps-icon.svg" alt="icon" />
                </div>
                <span>
                  Уточняем задачи проекта, специфику объекта, формат поставки
                  (блоки, плиты, изделия)
                </span>
              </li>
              <li class="s-steps__info-item">
                <div>
                  <img src="@img/steps-icon.svg" alt="icon" />
                </div>
                <span>
                  Определяем материал, место доставки, ориентировочные сроки
                </span>
              </li>
              <li class="s-steps__info-item">
                <div>
                  <img src="@img/steps-icon.svg" alt="icon" />
                </div>
                <span>Запрашиваем чертежи, техническое задание</span>
              </li>
              <li class="s-steps__info-item">
                <div>
                  <img src="@img/steps-icon.svg" alt="icon" />
                </div>
                <span>Фиксируем бюджет и дополнительные условия</span>
              </li>
            </ul>
          </div>
        </div>
        <div itemscope class="swiper-slide s-steps__slide">
          <div class="s-steps__slide-gallery">
            <a href="#" class="s-steps__slide-wrapper-img">
              <img itemprop="image" src="@img/steps.jpg" alt="image" />
            </a>
            <h5 itemprop="title" class="s-steps__slide-title">
              05. Доставка, оформление и сопровождение
            </h5>
            <a href="#" class="s-steps__circle-btn">
              <svg>
                <use
                  xlink:href="img/icons/icons.svg#icon-arrow-line-next"
                ></use>
              </svg>
            </a>
            <button class="btn-s s-steps__btn-next">Следующий этап</button>
          </div>
          <div class="s-steps__info">
            <ul itemprop="list-content" class="list s-steps__info-list">
              <li class="s-steps__info-item">
                <div>
                  <img src="@img/steps-icon.svg" alt="icon" />
                </div>
                <span>Получаем первичное обращение и запрос от клиента</span>
              </li>
              <li class="s-steps__info-item">
                <div>
                  <img src="@img/steps-icon.svg" alt="icon" />
                </div>
                <span>
                  Уточняем задачи проекта, специфику объекта, формат поставки
                  (блоки, плиты, изделия)
                </span>
              </li>
              <li class="s-steps__info-item">
                <div>
                  <img src="@img/steps-icon.svg" alt="icon" />
                </div>
                <span>
                  Определяем материал, место доставки, ориентировочные сроки
                </span>
              </li>
              <li class="s-steps__info-item">
                <div>
                  <img src="@img/steps-icon.svg" alt="icon" />
                </div>
                <span>Запрашиваем чертежи, техническое задание</span>
              </li>
              <li class="s-steps__info-item">
                <div>
                  <img src="@img/steps-icon.svg" alt="icon" />
                </div>
                <span>Фиксируем бюджет и дополнительные условия</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
