<section class="s-stones sect-p">
  <div class="container">
    <h2 class="s-title s-stones__title">
      <span>Изделия</span>
      из декоративного и натурального камня для архитектурных проектов
    </h2>
    <div class="s-stones__grid">
      <a href="#" itemscope class="card-production">
        <img
          src="@img/production.jpg"
          alt="image"
          class="card-production__img"
        />
        <div class="card-production__btn">
          <div class="card-production__name" itemprop="name">Слэбы</div>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-line-next"></use>
          </svg>
        </div>
      </a>
      <a href="#" itemscope class="card-production">
        <img
          src="@img/production.jpg"
          alt="image"
          class="card-production__img"
        />
        <div class="card-production__btn">
          <div class="card-production__name" itemprop="name">Плитка</div>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-line-next"></use>
          </svg>
        </div>
      </a>
      <a href="#" itemscope class="card-production">
        <img
          src="@img/production.jpg"
          alt="image"
          class="card-production__img"
        />
        <div class="card-production__btn">
          <div class="card-production__name" itemprop="name">Слэбы</div>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-line-next"></use>
          </svg>
        </div>
      </a>
      <a href="#" itemscope class="card-production">
        <img
          src="@img/production.jpg"
          alt="image"
          class="card-production__img"
        />
        <div class="card-production__btn">
          <div class="card-production__name" itemprop="name">Плитка</div>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-line-next"></use>
          </svg>
        </div>
      </a>
      <a href="#" itemscope class="card-production">
        <img
          src="@img/production.jpg"
          alt="image"
          class="card-production__img"
        />
        <div class="card-production__btn">
          <div class="card-production__name" itemprop="name">Слэбы</div>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-line-next"></use>
          </svg>
        </div>
      </a>
      <a href="#" itemscope class="card-production">
        <img
          src="@img/production.jpg"
          alt="image"
          class="card-production__img"
        />
        <div class="card-production__btn">
          <div class="card-production__name" itemprop="name">Плитка</div>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-line-next"></use>
          </svg>
        </div>
      </a>
      <a href="#" itemscope class="card-production">
        <img
          src="@img/production.jpg"
          alt="image"
          class="card-production__img"
        />
        <div class="card-production__btn">
          <div class="card-production__name" itemprop="name">Слэбы</div>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-line-next"></use>
          </svg>
        </div>
      </a>
      <a href="#" itemscope class="card-production">
        <img
          src="@img/production.jpg"
          alt="image"
          class="card-production__img"
        />
        <div class="card-production__btn">
          <div class="card-production__name" itemprop="name">Плитка</div>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-line-next"></use>
          </svg>
        </div>
      </a>
    </div>
  </div>
</section>
