.btn-reset {
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
  color: inherit;
}

.btn-s {
  @include flex-center;
  width: fit-content;
  cursor: pointer;
  border: 1px solid var(--primary);
  border-radius: 8px;
  outline: none;
  padding: 14px 25px;
  background-color: var(--primary);
  gap: 12px;

  color: var(--white);
  text-align: center;
  font-weight: 700;
  font-size: 17px;

  transition:
    color 0.3s ease,
    border-color 0.3s ease,
    background-color 0.3s ease;

  @include hover {
    background-color: var(--primary-hover);
    border-color: var(--primary-hover);
  }

  &._outline {
    background-color: transparent;
    color: var(--primary);

    @include hover {
      border-color: var(--primary);
      background-color: var(--primary);
      color: var(--white);
    }
  }
  &._gray {
    background-color: #e7e7e9;
    border-color: #e7e7e9;
    color: var(--black);

    @include hover {
      background-color: #c5c5ca;
      border-color: #c5c5ca;
    }
  }

  svg {
    width: 24px;
    height: 24px;
  }
}

.btn-circle {
  @include flex-center;
  border-radius: 50%;
  background-color: var(--primary);
  outline: none;
  border: none;
  cursor: pointer;
  width: 72px;
  height: 72px;

  color: var(--white);

  transition: background-color 0.3s ease;

  @include hover {
    background-color: var(--primary-hover);
  }
  @include tablet {
    width: 55px;
    height: 55px;
  }

  svg {
    width: 22px;
    height: 22px;
    @include tablet {
      width: 17px;
      height: 17px;
    }
  }
}
